.image-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem;
  max-width: 72rem;
  margin: 0 auto;
  gap: 16px;
  justify-content: space-around;
}

.image-grid__loading-indicator {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0.5rem;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .image-grid {
    padding: 1.25rem 0.75rem;
  }
}

@media only screen and (max-width: 490px) {
  .image-grid {
  }
}
